.movie-body{
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
}
p{
  color:orange
}
h3{
  color: orange
}
h2{
  color:orange;
}
h4{
  color:orange;
}
.movie-info{
  font-family: 'Merriweather', serif;
  color:white;
  margin-top: 75px;

  height: auto;
  width:auto;
}

.comments{
  display: flex;
  justify-content: flex-start;
}

.comment{
  border-bottom: 2px solid white;
  padding-top: 10px;
}

.movie-images{
width: 100px;
height:100px;
border: 2px solid white;
margin:15px;
}
